.arrow, .copy, .glassball, .heart{
	background: url(sprites.png) no-repeat;
}

.arrow{
	background-position: -205px -85px ;
	width: 26px;
	height: 30px;
}

.copy{
	background-position: -205px -135px ;
	width: 35px;
	height: 35px;
}

.glassball{
	background-position: 0 0;
	width: 186px;
	height: 200px;
}

.heart{
	background-position: -205px 0;
	width: 40px;
	height: 40px;
}

#glassball {
	background: url(sprites.png) no-repeat;
	background-position: 0 0;
	width: 186px;
	height: 200px;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 5px;
}

h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 60px;
	font-weight: 700;
	text-align: center;
	margin-top: -15px;
	color: black;
}

h2 {
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
	font-weight: 100;
	text-align: center;
	color: black;
}

#signingContainer {
	margin: auto;
	width: 295px;
	height: 60px;
	overflow: hidden;
	margin-bottom: 25px;
}

.signUp, .signIn {
	display: block;
	float: left;
	width: 140px;
	height: 50px;
	border: solid 5px black;
}

.signIn {
	border-left: 0 solid black;
}

.signUp div, .signIn div {
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
	font-weight: 700;
	text-align: center;
	color: black;
	position: relative;
	top: 2px;

}

.active {
	background-color: black;
}

.active div {
	color: white;
}

#formContainer {
	width: 825px;
	height: 137px;
	margin: 0 auto;
	overflow: hidden;
}

.textField {
	width: 400px;
	height: 56px;
	float: left;
	margin-bottom: 25px;
	overflow: hidden;
}

.textField:nth-child(even) {
	margin-left: 25px;
}

.label {
	width: 160px;
	height: 56px;
	background-color: black;
	float: left;
}

.label div {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: 700;
	text-align: center;
	color: white;
	position: relative;
	top: 13px;

}

.input {
	width: 230px;
	height: 46px;
	float: left;
	border: solid 5px black;
}